<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.Database.PackagesMapper">
    <resultMap id="PackageResultMap" type="org.example.Database.Packages">
        <result property="packageId" column="packageId"/>
        <result property="truckId" column="truckId"/>
        <result property="userId" column="userId"/>
        <result property="itemNum" column="itemNum"/>
    </resultMap>

    <!-- ... -->
    <insert id="createPackagesTable">
        CREATE TABLE IF NOT EXISTS packages(
              packageId int  primary key,
              truckId int,
              userId VARCHAR(255),
              "itemNum" int default 0,
              foreign key (userId) references  "user"("userId") on update cascade on delete  set null,
              foreign key (truckId) references truck (truckId)  on update cascade on delete  set null
        )
    </insert>

    <update id="dropPackagesTable">
        DROP TABLE packages;
    </update>


    <select id="getPackageById" resultMap="PackageResultMap">
        SELECT * FROM packages WHERE packageId = #{packageId}
    </select>

    <select id="getAllPackages" resultMap="PackageResultMap">
        SELECT * FROM packages
    </select>

    <insert id="insertPackage" parameterType="org.example.Database.Packages">
        INSERT INTO packages (packageId, truckId, userId, "itemNum")
        VALUES (#{packageId}, #{truckId}, #{userId}, #{itemNum})
    </insert>

    <update id="updatePackage" parameterType="org.example.Database.Packages">
        UPDATE packages SET truckId = #{truckId}, userId = #{userId}, "itemNum" = #{itemNum} WHERE packageId = #{packageId}
    </update>

    <update id="updatePackageTruckId" parameterType="org.example.Database.Packages">
        UPDATE packages SET truckId = #{truckId} WHERE packageId = #{packageId}
    </update>

    <delete id="deletePackage">
        DELETE FROM packages WHERE packageId = #{packageId}
    </delete>
    <!-- ... -->

</mapper>
