<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.Database.PackagesMapper">
    <resultMap id="PackageResultMap" type="org.example.Database.Packages">
        <result property="packageId" column="packageId"/>
        <result property="truckId" column="truckId"/>
        <result property="userId" column="userId"/>
        <result property="itemNum" column="itemNum"/>
    </resultMap>

    <!-- ... -->
    <select id="getPackageById" resultMap="PackageResultMap">
        SELECT * FROM packages WHERE packageId = #{packageId}
    </select>

    <select id="getAllPackages" resultMap="PackageResultMap">
        SELECT * FROM packages
    </select>

    <insert id="insertPackage" parameterType="org.example.Database.Packages">
        INSERT INTO packages (packageId, truckId, userId, "itemNum")
        VALUES (#{packageId}, #{truckId}, #{userId}, #{itemNum})
    </insert>

    <update id="updatePackage" parameterType="org.example.Database.Packages">
        UPDATE packages SET truckId = #{truckId}, userId = #{userId}, "itemNum" = #{itemNum} WHERE packageId = #{packageId}
    </update>

    <delete id="deletePackage">
        DELETE FROM packages WHERE packageId = #{packageId}
    </delete>
    <!-- ... -->

</mapper>
